{% extends 'public/layout/layout.html.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="login">
        <div class="login__logo">
            <img src="{{ asset('assets/img/logo.svg') }}" alt="logo">
        </div>
        <h2 class="login__title">
            Register your account
        </h2>
        <p class="login__subtitle">
            Register to set up your workspace and begin working on your request.
        </p>
        {{ form_start(form, {attr: {
            class: 'login__form',
        }}) }}
        {{ form_errors(form) }}
        <div class="form__row">
            <div class="form__group {{ form.email.vars.errors|length > 0 ? 'error' }}">
                {{ form_label(form.email, 'E-mail') }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="login__actions">
            <button type="submit" class="btn__primary btn__primary--xl btn__primary--blue">
                <span class="btn__text">
                    Continue
                </span>
            </button>
        </div>
        <div class="login__bot">
            <p class="login__bot-text">
                Already have account?
            </p>
            <a href="{{ path('login') }}" class="btn__primary">
                <span class="btn__text">
                    Login
                </span>
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _register_email_form_email_errors %}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="state__item error">
                <span class="state__text">{{ error.message }}</span>
            </div>
        {%- endfor -%}
    {% endif %}
{% endblock %}

{% block _register_email_form_email_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form__label')|trim}) -%}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
    {{- block('form_label_content') -}}
    </{{ element|default('label') }}>
{%- endblock _register_email_form_email_label %}
