<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link  href="{{ asset('css/variables.css') }}" rel="stylesheet">
    <link  href="{{ asset('css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="logo">
            <img src="{{ asset('assets/img/logo.svg') }}" alt="logo">
        </div>
        <div class="content__chat">
            <div class="content__top">
                <a href="{{ path('home') }}" class="btn__primary">
                    <i class="icon-short-arrow-left"></i>
                    <span class="btn__text">
                        Back
                    </span>
                </a>
                <h1 class="content__title">
                    Live chat
                </h1>
            </div>
            <div id="app"></div>
        </div>
    </div>

    <script src="{{ asset('build/public-chat.js') }}"></script>

    <script type="module">
        OpenHelpChat.init({
            user: {
                name: 'Alex',
                email: 'user@example.com',
            },

            connection: {
                socketUrl: '{{ socketUrl }}',
                sendUrl: '{{ path('chat_send') }}',
                historyUrl: '{{ path('chat_history') }}',
                tokenUrl: '{{ path('chat_token') }}',
                channelUrl: '{{ path('chat_channel') }}',
            },
        });
    </script>
</body>
</html>
