{% extends 'manager/layout.html.twig' %}

{% block menu %}requests{% endblock %}

{% block header %}Requests{% endblock %}

{% block content %}
    <section class="requests">
        <div class="requests__inner">
            <div class="requests__left">
                {{ component('TicketList', {
                    selected: app.request.attributes.get('ticketId'),
                }) }}
            </div>
            <div class="requests__right">
                <div id="app"></div>
            </div>
        </div>
    </section>

    {{ component('TicketHeader', {
        ticketId: app.request.attributes.get('ticketId'),
    }) }}

    <script src="{{ asset('build/public-chat.js') }}"></script>
    <script>
        OpenHelpChat.init({
            // customHeaderHtml: '',
            customHeaderElement: document.getElementById('public-chat-header'),
            user: {
                name: '{{ app.user.getName() }}',
                email: '{{ app.user.getEmail() }}',
            },

            connection: {
                socketUrl: '{{ socketUrl }}',
                sendUrl: '{{ path('chat_send') }}',
                historyUrl: '{{ path('chat_history') }}',
                tokenUrl: '{{ path('chat_token') }}',
                channelUrl: '{{ path('chat_channel') }}',
            },
        });

        {% if app.request.attributes.get('ticketId') is not empty %}
            OpenHelpChat.subscribe("{{ app.request.attributes.get('ticketId') }}");
        {% endif %}

        window.addEventListener('chat:ready', () => {
            console.log('chat:ready')
            handleDropdown(document.querySelector('#public-chat-header'))
        })
    </script>

    <style>
        .chat__loading { display: none; }
        .chat__body      { display: flex; }

        .chat--loading .chat__loading { display: flex; }
        .chat--loading .chat__body      { display: none; }
    </style>
{% endblock %}
