{% extends 'manager/layout.html.twig' %}

{% block menu %}dashboard{% endblock %}

{% block header %}Dashboard{% endblock %}

{% block content %}
    <section class="status">
        <h2 class="status__title">
            Status distribution
        </h2>
        <div class="charts">
            {{ component('StatusDistribution', { status: constant('App\\Domain\\Ticket\\ValueObject\\TicketStatus::NEW') }) }}
            {{ component('StatusDistribution', { status: constant('App\\Domain\\Ticket\\ValueObject\\TicketStatus::IN_PROGRESS') }) }}
            {{ component('StatusDistribution', { status: constant('App\\Domain\\Ticket\\ValueObject\\TicketStatus::RESOLVED') }) }}
        </div>
    </section>
    <section class="statistic">
        <div class="statistic__col">
            <h2 class="statistic__title">
                Priority distribution
            </h2>
            <div class="statistic__items">
                {{ component('PriorityDistribution', { priority: constant('App\\Domain\\Ticket\\ValueObject\\TicketPriority::HIGH') }) }}
                {{ component('PriorityDistribution', { priority: constant('App\\Domain\\Ticket\\ValueObject\\TicketPriority::MEDIUM') }) }}
                {{ component('PriorityDistribution', { priority: constant('App\\Domain\\Ticket\\ValueObject\\TicketPriority::LOW') }) }}
            </div>
        </div>
        <div class="statistic__col">
            <h2 class="statistic__title">
                Channels
            </h2>
            <div class="statistic__items">
                {{ component('ChannelDistribution', { channel: constant('App\\Domain\\Ticket\\ValueObject\\TicketChannel::EMAIL') }) }}
                {{ component('ChannelDistribution', { channel: constant('App\\Domain\\Ticket\\ValueObject\\TicketChannel::CHAT') }) }}
                {{ component('ChannelDistribution', { channel: constant('App\\Domain\\Ticket\\ValueObject\\TicketChannel::FORM') }) }}
            </div>
        </div>
    </section>

    {{ component('RecentTickets') }}
{% endblock %}
