{% extends 'public/layout.html.twig' %}

{% block title %}Login to Your Account{% endblock %}

{% block body %}
    <div class="login">
        <div class="login__logo">
            <img src="{{ asset('assets/img/logo.svg') }}" alt="logo">
        </div>
        <h2 class="login__title">
            Log in to your account
        </h2>
        <p class="login__subtitle">
            Nice to see you again! Log in to continue working on your request.
        </p>

        {#
        {% if app.session.flashBag.peekAll|length %}
            <div class="state">
                {% for type,messages in app.session.flashBag.all() %}
                    <div class="state__item {{ type }}">
                        <span class="state__text">
                            {{ messages.0 }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        #}

        <form action="{{ path('login') }}" class="login__form" method="post">
            <div class="form__row">
                <div class="form__group {{ error ? 'error' }}">
                    <label class="form__label" for="mail">E-mail or username</label>
                    <input id="mail" type="text" name="_username" value="{{ lastUsername }}" class="form__control">

                </div>
            </div>
            <div class="form__row">
                <div class="form__group {{ error ? 'error' }}">
                    <label class="form__label" for="password">Password</label>
                    <input id="password" type="password" name="_password" class="form__control">
                    <button type="button" class="btn__primary">
                        <i class="icon-eye"></i>
                    </button>
                    {% if error %}
                        <div class="state__item error">
                            <span class="state__text">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="login__actions">
                <button type="submit" class="btn__primary btn__primary--xl btn__primary--blue">
                    <span class="btn__text">
                        Login
                    </span>
                </button>
                <a href="{{ path('forgot-password') }}" class="btn__primary">
                    <span class="btn__text">
                        Forgot password?
                    </span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector('#password + .btn__primary')?.addEventListener('click', function() {
            const input = document.querySelector('#password');

            if (input.getAttribute('type') === 'password') {
                input.setAttribute('type', 'text');
                this.classList.add('show');
            } else {
                input.setAttribute('type', 'password');
                this.classList.remove('show');
            }
        });
    </script>
{% endblock %}
