<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/variables.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <link rel="icon" href="{{ asset('favicon.png') }}" />

        {% block stylesheets %}
        {% endblock %}

        <style>
            .hidden {display:none;visibility: hidden}
        </style>
    </head>
    <body>
    <div class="wrapper">
        <div class="overlay"></div>
        {% set menu = block('menu') is defined ? block('menu') : 'dashboard' %}
        <div class="sidebar">
            <a class="logo" href="{{ path('manager_default_index') }}">
                <img src="{{ asset('assets/img/logo.svg') }}" alt="logo">
            </a>
            <nav class="nav">
                <a class="nav__link {{ 'dashboard' == menu ? 'active' }}" href="{{ path('manager_default_index') }}">
                    <i class="icon-dashboard"></i>
                    Dashboard
                </a>
                <a class="nav__link {{ 'requests' == menu ? 'active' }}" href="{{ path('manager_ticket_index') }}">
                    <i class="icon-requests"></i>
                    Requests
{#                    <span class="badge">2</span>#}
                </a>
                <a class="nav__link {{ 'blog' == menu ? 'active' }}" href="{{ path('manager_article_process') }}">
                    <i class="icon-knowledge-base"></i>
                    Knowledge base
                </a>
                <a class="nav__link" {{ 'agent' == menu ? 'active'}} href="#">
                    <i class="icon-agent"></i>
                    Agents
                </a>
                <a class="nav__link" {{ 'settings' == menu ? 'active'}} href="#">
                    <i class="icon-settings"></i>
                    Settings
                </a>
                <div class="nav__bot">
                    <a class="nav__link" href="#">
                        <i class="icon-question"></i>
                        Help & Info
                    </a>
                    <a class="nav__link" href="{{ logout_path() }}">
                        <i class="icon-exit"></i>
                        Log out
                    </a>
                </div>
            </nav>
        </div>
        <div class="layout">
            <header class="header">
                {% if block('header') is defined %}
                    <h1 class="header__title">{{ block('header') }}</h1>
                {% endif %}
                <div class="header__right">
                    <form action="#" class="header__form">
                        <div class="form__row">
                            <i class="icon-search"></i>
                            <input type="text" class="form__control form__control--xl" placeholder="Search for anything in the system...">
                            <button type="button" class="btn__clear-search">
                                <i class="icon-cross"></i>
                            </button>
                        </div>
                        <div class="search">
                            <!-- <div class="loader">
                                <span class="loader__circle"></span>
                            </div> -->
                            <!-- <div class="empty">
                                <div class="empty__inner">
                                    <img src="../assets/img/no-search.svg" alt="no requests">
                                    <span class="empty__text">
                                        There are no search results for this query.
                                    </span>
                                </div>
                            </div> -->
                            <div class="search__box">
                                <div class="search__top">
                                    <h2 class="search__title">
                                        Customers
                                    </h2>
                                    <span class="search__result">
                                        1 result
                                    </span>
                                </div>
                                <a href="#" class="item">
                                    <div class="item__left">
                                        <div class="avatar">
                                            <span class="avatar__name">
                                                HW
                                            </span>
                                            <i class="icon-profile-customer"></i>
                                        </div>
                                    </div>
                                    <div class="item__inner">
                                        <span class="item__heading">
                                            Hello Wilson
                                        </span>
                                        <span class="item__text">
                                            hellowilson@gmail.com
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="search__box">
                                <div class="search__top">
                                    <h2 class="search__title">
                                        Requests
                                    </h2>
                                    <span class="search__result">
                                        3 results
                                    </span>
                                </div>
                                <a href="#" class="item">
                                    <div class="item__left">
                                        <div class="item__decoration">
                                            <i class="icon-chat"></i>
                                        </div>
                                    </div>
                                    <div class="item__inner">
                                        <span class="item__heading">
                                            Hello, I just wanted to clarify few
                                        </span>
                                        <span class="item__text">
                                            Gerd Muller • 50m ago
                                        </span>
                                    </div>
                                    <div class="item__right">
                                        <i class="icon-medium-priority"></i>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="item__left">
                                        <div class="item__decoration">
                                            <i class="icon-form"></i>
                                        </div>
                                    </div>
                                    <div class="item__inner">
                                        <span class="item__heading">
                                            Hello! It seems that I found a lot
                                        </span>
                                        <span class="item__text">
                                            Marta Fix • 44m ago
                                        </span>
                                    </div>
                                    <div class="item__right">
                                        <i class="icon-low-priority"></i>
                                    </div>
                                </a>
                                <a href="#" class="item">
                                    <div class="item__left">
                                        <div class="item__decoration">
                                            <i class="icon-mail"></i>
                                        </div>
                                    </div>
                                    <div class="item__inner">
                                        <span class="item__heading">
                                            Hello, I don’t know what to do in
                                        </span>
                                        <span class="item__text">
                                            John Jones • 1h ago
                                        </span>
                                    </div>
                                    <div class="item__right">
                                        <i class="icon-high-priority"></i>
                                        <i class="icon-agent"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="avatar">
                        <span class="avatar__name">
                            Me
                        </span>
                        <i class="icon-profile-agent"></i>
                    </div>
                </div>
            </header>
            <main class="main">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/live.js') }}" type="module"></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
